.footer {
  background-color: #000000;
}

.footer .conteiner {
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
  padding: 120px 20px 60px 20px;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #cccccc;
}

.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 30px;
}

.footer-contato li a {
  color: #ffffff;
  text-decoration: underline;
}

.footer-copy {
  font-size: 1.125rem;
  color: #8f8f8f;
}

@media (max-width: 1000px) {
  .footer-contato li {
    font-size: 1.5rem;
  }
}

@media (max-width: 800px) {
  .footer .conteiner {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
