.formacao {
  background-color: #141414;
  position: relative;
}

.formacao::after {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/detalhe.svg") no-repeat center;
  position: absolute;
  bottom: -50px;
  left: 145px;
}

.formacao .subtitulo {
  color: #000000;
  max-width: 5ch;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #a3a3a3;
}

.formacao-texto strong {
  color: #ffffff;
}

.faculdade {
  flex: 1;
  background: #000000;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.faculdade-tipo {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a3a3a3;
  margin-bottom: 10px;
}

.faculdade-curso {
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
  position: relative;
  color: #ffffff;
}

.faculdade-curso::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  top: -1px;
  left: -25px;
}

.faculdade-instituicao {
  font-size: 1.125rem;
  color: #a3a3a3;
}

.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.faculdade-tipo {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a3a3a3;
  margin-bottom: 10px;
}

.formacao-extra {
  grid-column: 2;
}

.formacao-extra h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #8f8f8f;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.formacao-extra h3::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: -36px;
  top: -4px;
}

.cursos h3::before {
  background: url("../img/cursos.svg") no-repeat center center;
}

.cursos {
  margin-bottom: 60px;
}

.cursos li {
  display: flex;
  justify-content: space-between;
}

.formacao-extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
  color: #ffffff;
}

.formacao-extra span {
  color: #8f8f8f;
}

.idiomas h3::before {
  background: url("../img/idiomas.svg") no-repeat center center;
}

@media (max-width: 800px) {
  .formacao .conteiner {
    grid-template-columns: 1fr;
  }
  .formacao .subtitulo {
    color: #ffffff;
    padding-bottom: 20px;
  }
  .formacao-extra {
    grid-column: auto;
  }

  .formacao-extra h3::before {
    position: initial;
    margin-bottom: 10px;
  }

  .formacao::after {
    bottom: -50px;
    left: 25px;
  }
}
