*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", Arial, sans-serif;
  color: #141414;
}

ul {  
  list-style: none;
}

a{
  text-decoration: none;
  color: #141414;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.conteiner {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1240px;
  padding: 80px 20px;
  margin: 0 auto;
  gap: 100px;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}