.header {
  display: flex;  
  max-width: 1240px;
  padding: 40px 20px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 10px;  
}

.header-menu a {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 20px;
  display: block;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    padding-top: 20px;
    gap: 40px;
  }

  .header-menu {
    justify-content: center;
  }

  .header-menu a {
    background-color: #f5f5f5;
    border-radius: 4px;
  }
}